*{
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
body{
    margin: 0 70px;
}

/* -------------- header styles ------------- */
header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.753) , rgba(0, 0, 0, 0.637) , rgba(137, 43, 226, 0.158) ), url("../resources/banner-img.png");
    height: 65vh;
    margin: 30px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-items{
    text-align: center;
    color: white;
}
.banner-items > p {
    font-size: 30px;
    font-weight: 500;
}
.banner-title{
    margin-top: 10px;
    font-size: 60px;
}

/* discount styles  */

.discount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount-items{
    text-align: center;
    margin-bottom: 50px;
}
.discount-items > h1{
    font-size: 55px;
    color: red;
    font-weight: 900;
    margin-bottom: 30px;
}
.discount-items > p{
    color: red;
    font-weight: 600;
    margin-bottom: 10px;
}
.discount-items > h3{
    font-size: 30px;
}
.discount-img{
    text-align: center;
}

.discount-img > .new-year{
    width: 80%;
    
}

/* ------- party section styles -------  */

.party-section {
    height: 65vh;
    background-image: linear-gradient(to right , rgba(0, 0, 0, 0.911) , rgba(137, 43, 226, 0.096)), url("../resources/Vectorrr.png");
    margin: 100px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.party-items {
    max-width: 60%;
    padding: 100px;
    color: white;
}
.party-items > h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
.party-items > p{
    line-height: 25px;
}
.party-items > button {
    margin-top: 35px;
    padding: 10px 20px;
    background-color: rgb(243, 83, 55);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

/* ------ location styles ------  */

.location {
    height: 50vh;
    background-image: linear-gradient(to bottom , rgba(255, 0, 0, 0.158) , white );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.location-items > h3 {
    font-size: 22px;
    line-height: 35px;
}

.location-items > button {
    margin-top: 30px;
    background-color: red;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.highlight{
    color: red;
}

/* coming soon styles  */

.coming-soon{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-1 > .highlight{
    font-weight: 500;
}
.item-1 > h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.rounded img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 8px solid red;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.item-3 > .highlight{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
}
.item-3 > p{
    margin-bottom: 30px;
}

/* holidays styles  */
.holidays{
    margin-top: 100px;
    height: 80vh;
}
.holidays-items > h1{
    font-size: 50px;
    margin-top: 15px;
}
.holidays-items{
    text-align: center;
}
.gray{
    margin-top: 30px;
    color: rgb(88, 87, 87);
}

.offer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.img-1{
    z-index: 3;
}

.red-line{
    position: relative;
    top: -235px;
    z-index: 2;
}

/* portfolio section styles  */

.portfolio{
    margin-top: 100px;
}
.portfolio-details > h1{
    font-size: 30px;
    margin-top: 12px;
}
.portfolio-details > .gray {
    max-width: 600px;

}

.gift-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.gift-items img{
    width: 100%;
    transform: scale(1);
}
.effect:hover img{
    transform: scale(.92);
    transition:.5s ease-out;
}

/* subscribe styles */

.subscribe{
    margin-top: 100px;
    height: 60vh;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.096) , rgba(255, 0, 0, 0.151));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.subscribe-items{
    text-align: center;
}
.subscribe-items > h1{
    margin-top: 20px;
    font-size: 35px;
}
form{
    margin-top: 40px;
    position: relative;
    
}
input[type="text"]{
    width: 350px;
    padding: 15px;
    border: 0;
    border-radius: 25px 0 0 25px;
    

}
button{
    padding: 15px 40px;
    border: 0;
    background-color: red;
    position: absolute;
    color: white;
    border-radius: 0 25px 25px 0;
}