*{
    margin: 0;
    padding: 0;
}

/* -------------- header styles ------------- */
header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.753) , rgba(0, 0, 0, 0.637) , rgba(137, 43, 226, 0.158) ), url("../resources/banner-img.png");
    height: 65vh;
    margin: 30px 70px 100px 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-items{
    text-align: center;
    color: white;
}
.banner-items > p {
    font-size: 30px;
    font-weight: 500;
}
.banner-title{
    margin-top: 10px;
    font-size: 60px;
}

/* discount styles  */

.discount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount-items{
    text-align: center;
    margin-bottom: 50px;
}
.discount-items > h1{
    font-size: 55px;
    color: red;
    font-weight: 900;
    margin-bottom: 30px;
}
.discount-items > p{
    color: red;
    font-weight: 600;
    margin-bottom: 10px;
}
.discount-items > h3{
    font-size: 30px;
}
.discount-img{
    text-align: center;
}

.discount-img > .new-year{
    width: 80%;
    
}

/* ------- party section styles -------  */

.party-section {
    height: 65vh;
    background-image: linear-gradient(to right , rgba(0, 0, 0, 0.911) , rgba(137, 43, 226, 0.096)), url("../resources/Vectorrr.png");
    margin: 100px 70px 100px 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.party-items {
    max-width: 60%;
    padding: 100px;
    color: white;
}
.party-items > h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
.party-items > p{
    line-height: 25px;
}
.party-items > button {
    margin-top: 35px;
    padding: 10px 20px;
    background-color: rgb(243, 83, 55);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}